.btn {
	min-width: 7.5rem;
	
	&.btn-fluent {
		background:     transparent;
		border:         1px solid transparent;
		color:          $blue;
		padding-bottom: $btn-padding-y + .1rem;
		
		&.c-action-menu {
			padding:   $btn-padding-y $btn-padding-x / 2;
			min-width: inherit;
			
			&:hover, &:focus {
				box-shadow:   none;
				color:        $black;
				background:   $gray-lightest;
				border-color: $gray-lighter;
			}
		}
		
		&.c-action-toggle {
			padding-left: $btn-padding-x / 2;
			
			&:hover, &:focus {
				background: $blue;
				color:      $white;
			}
		}
		
		&:hover, &:focus {
			cursor:     pointer;
		}
	}
}
